<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ArrayList All Methods/src/com/dheerendra/arraylist/Test_TreeSet.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.dheerendra.arraylist.Test_TreeSet"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ArrayList All Methods"/>
</launchConfiguration>
